PORT=3000
API_KEY=linkplease_secret_api_key_2026
MOCK_API_BASE=https://pseudogram-api.onrender.com
MONGO_URI=mongodb+srv://saipuneeth2005_db_user:SP%4031102005@cluster0.uez5kjl.mongodb.net/Link-Please_automation-engine?appName=Cluster0
 